adium-theme-ubuntu==0.3.4
click==6.6
eventlet==0.19.0
Flask==0.11.1
Flask-SocketIO==1.0b1
gevent==1.0
gevent-socketio==0.3.6
gevent-websocket==0.9.2
google-api-python-client==1.5.3
greenlet==0.4.2
gunicorn==18.0
gyp==0.1
httplib2==0.9.2
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
oauth2client==3.0.0
pbr==1.8.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pygame==1.9.2b8
python-engineio==1.0.3
python-socketio==1.6.0
rsa==3.4.2
SimpleGUICS2Pygame==1.9.0
simplejson==3.8.2
six==1.10.0
stevedore==1.12.0
ujson==1.33
unity-lens-photos==1.0
uritemplate==0.6
virtualenv==15.0.3
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
Werkzeug==0.11.11
